# Configurações do Qbittorrent
QB_URL=http://192.168.1.30:8181
QB_USER=admin
QB_PASS=sua_senha_aqui
INTERVALO=120

# Token do Bot do Telegram
TELEGRAM_BOT_TOKEN=1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZ
TELEGRAM_CHAT_ID=-1234567890

# Usuários autorizados (separados por vírgula)
# Para obter seu ID, envie uma mensagem para @userinfobot
AUTHORIZED_USERS=123456789,987654321

# Caminho de armazenamento do Qbittorrent
QBITTORRENT_STORAGE_PATH=/

# Configurações do Jellyfin
JELLYFIN_URL=http://192.168.1.30:8097
JELLYFIN_USERNAME=seu_usuario
JELLYFIN_PASSWORD=sua_senha
JELLYFIN_API_KEY = "sua_api_key_aqui"

# Tempo de expiração das mensagens de status (em segundos)
EXPIRAR_MSG=30

# CONFIGURAÇÕES DE DOWNLOAD
# Define se os arquivos baixados devem ser removidos após o envio (True/False)
REMOVE_AFTER_SEND=False

# Opcional: Configurações adicionais
# NOTIFICATION_INTERVAL=1800  # Intervalo em segundos para verificar novos conteúdos (padrão: 30 min)